@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Modak&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'playfair Display', sans-serif;
    font-weight: 500;
    background-color: white;
    height: 100vh;
}

header {
    padding: 10px 20px;
}

h3 {
    color: #863b2b;
    font-weight: 700;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

li a {
    text-decoration: none;
    color: black;
}

.btn1 {
    border: 1px solid #863b2b;
    border-radius: 7px;
    padding: 10px;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
}

.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.text p {
    max-width: 520px;
    margin: 1rem auto 0;
}

.btn2 {
    background-color: #863b2b;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 12px 20px;
    margin-top: 10px;   
    cursor: pointer;
}

.second-section {
    padding: 10px 60px;
}

.image-wrapper {
    width: 1150px;
    height: 360px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}